// AlbumTiles.scss
@use "../../assets/scss/_variables"as *;

.beers-card {
    background-size: 250px 600px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 250px;
    height:600px;
    margin: 20px;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid rgba($color-black, 0.25);
    box-shadow: 0px 10px 20px rgba($color-black, 0.25);
    background-color: rgb(126, 206, 216);
    &__name{
        font-size: 25px;
        padding: 10px;
        margin:10px;
        color:deeppink;
    }
    &__tag{
        font-size: 20px;
        padding: 5px;
        margin:5px;
        color:rgb(147, 24, 91);
    }
    &__desc{
        font-family: 'Libre Baskerville', serif;
        font-size: 14px;
        padding: 5px;
        margin:5px;
        color:rgb(181, 65, 129);
    }
    &__image{
        width:60px;
        height:200px;
        display: absolute;
    }
}

@media screen and (max-width: 1250px) {
    .beers-card{
        width: 350px;
        height:600px;
    }
}