// AlbumTiles.scss
@use "../../assets/scss/_variables"as *;

.beer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 100%;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid rgba($color-black, 0.25);
    box-shadow: 0px 10px 20px rgba($color-black, 0.25);
    background-color: bisque;
    &__beerName{
        font-size: 25px;
        padding: 10px;
        margin:10px;
        color:deeppink;
    }
    &__tag{
        font-size: 20px;
        padding: 5px;
        margin:5px;
        color:rgb(49, 7, 30);
    }
    &__desc{
        font-size: 15px;
        padding: 5px;
        margin:5px;
        color:rgb(49, 7, 30);
    }
    &__img{
        margin-left: 590px;
        width:60px;
        height:200px;
        display: absolute;
    }
}

