// AlbumTiles.scss
@use "../../assets/scss/_variables"as *;
body{
    background: url("../../assets/images/bgnew.jpg") no-repeat;
    background-color: rgb(184, 106, 187);
    font-family: 'Libre Baskerville', serif;
    .beer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        height: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        padding: 20px;
        border-radius: 15px;
        border: 1px solid rgba($color-black, 0.25);
        box-shadow: 0px 10px 20px rgba($color-black, 0.25);
        background: url("../../assets/images/bgnew.jpg") no-repeat;
        &__beerName{
            font-size: 25px;
            padding: 10px;
            margin:10px;
            color:deeppink;
        }
        &__tag{
            font-size: 20px;
            padding: 5px;
            margin:5px;
            color:rgb(119, 14, 72);
        }
        &__desc{
            font-size: 15px;
            padding: 5px;
            margin:5px;
            color:rgb(18, 15, 109);
        }
        &__img{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 150px;
            height: 350px;
        }
        &__fact{
                color: rgb(18, 15, 109);
                &-list{
                    color: rgb(18, 15, 109);
                    list-style-type: none;
                    padding: 0;
                }
               

        }
    }
    
    
}
@media screen and (max-width: 300px) {
    body {
        .beer{
            &__img{
                width: 80px;
                height: 150px;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    body {
        .beer{
            &__img{
                width: 100px;
                height: 300px;
            }
        }
    }
}

